.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.dado{
    background-color: black;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
   
}
p{
    color:white;
    font-size: 100px;

}